@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");
/*
@import url("폰트어썸")
*/

/*배경*/
/*프로필 카드 오픈소스프로그래밍 10._Static_Web_with_NginX 강의 6p 배경색 변경*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: darkslategrey; /*바꿀예정*/
}

/*헤더 영역 만들기*/
header {
  font-size: 30px;
  font-family: "Hi Melody", sans-serif;
  background-color: #fff; /*바꿀예정*/
  padding: 1rem;
  text-align: center;
}
nav ul li {
  display: inline;
}

/*프로필 영역 만들기*/
section {
  padding: 20px;
  background-color: #fff; /*바꿀예정*/
  margin: 50px auto;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
} /*프로필 카드 오픈소스프로그래밍 10._Static_Web_with_NginX 강의 6p 에서 영역(width, padding) 조절*/

/*프로필 사진*/
section article.profile_picture {
  display: flex;
  width: 100%;
  align-items: center; /*추가*/
  margin-bottom: 20px; /*추가*/
} /*오픈소스프로그래밍 10._Static_Web_with_NginX 강의 9p text-align 왼쪽 정렬*/

section article.profile_picture img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1px;
  box-shadow: 5px, 15px, 30px, rgba(173, 216, 230, 0.8);
} /*오픈소스프로그래밍 10._Static_Web_with_NginX 강의 9p 그대로 사용*/

section article.profile_picture div {
  display: flex;
  padding: 1rem;
}

section article.profile_picture .introduction {
  flex: 1;
}

.introduction p {
  margin: 0;
}

/*
section article.profile_picture h1 {
  font-weight: bold;
  font-size: 22px;
  font-family: "Hi Melody", sans-serif;
  line-height: 1;
  color: #555;
  margin-bottom: 5px;
}
section article.profile_picture h2 {
  font-weight: normal;
  font-size: 12px;
  font-family: "arial"; 여기 구글폰트로 바꾸자
  font-family: "Hi Melody", sans-serif;
  color: #bbb;
  margin-bottom: 15px;
}
*/
/*오픈소스프로그래밍 10._Static_Web_with_NginX 강의 11p 폰트 변경*/

section ul.contact {
  margin-bottom: 25px;
}
section ul.contact li {
  width: 10%;
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}
section ul.contact li:last-child {
  border-bottom: none;
}

section div.info h1 {
  width: 10.5%;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  font-family: "Hi Melody", sans-serif;
  line-height: 1;
  color: #555;
  margin-bottom: 5px;
}
section div.info h2 {
  width: 10.5%;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  font-family: "Hi Melody", sans-serif;
  color: #bbb;
}
/*오픈소스프로그래밍 10._Static_Web_with_NginX 강의 11p 폰트, 정렬 등 변경*/

section ul.contact li i {
  width: 20%;
  text-align: center;
  color: #555;
  font-size: 15px;
  text-shadow: 2px, 2px, 2px, #ddd;
}
section ul.contact li span {
  font-weight: normal;
  font-size: 11px;
  font-family: "orbitron";
  color: #555;
  letter-spacing: 1px;
}
/*오픈소스프로그래밍 10._Static_Web_with_NginX 강의 13p 그대로 사용*/

#guestbook h2 {
  margin: 5px;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid darkgrey;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background-color: darkgray;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form button:hover {
  background: grey;
}

#messages {
  flex: 1;
}
