@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");
/*
@import url("폰트어썸")
*/

/*배경*/
/*프로필 카드 오픈소스프로그래밍 10._Static_Web_with_NginX 강의 6p 배경색 변경*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  /*background-color: lightblue; 바꿀예정*/
  position: absolute;
}

/*헤더 영역 만들기*/

header {
  font-size: 30px;
  font-family: "Hi Melody", sans-serif;
  background-color: white;
  color: black;
  padding: 2rem;
  text-align: center;
}
header::before {
  content: "";
  background-image: url("../media/spring.jpg");
  background-size: contain;
  filter: blur(20px);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

#pageName {
  overflow: hidden;
  position: relative;
}

#pageName h1 {
  transform: translateX(100%);
  position: relative;
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

nav ul li {
  display: inline;
}
/* 인터렉티브 요소 사용 */
.viewBox {
  width: 100%;
  height: 80px;
  overflow: hidden;
}
.slideBox {
  width: 200%;
  height: 100%;
  display: flex;
  animation: flowText 10s linear infinite;
}
@keyframes flowText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.leftBox,
.rightBox {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*https://blog.naver.com/glory_kkyu/223123505008*/

/*프로필 영역 만들기*/
section {
  padding: 20px;

  margin: 50px auto;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
} /*프로필 카드 오픈소스프로그래밍 10._Static_Web_with_NginX 강의 6p 에서 영역(width, padding) 조절*/

/*프로필 사진*/
section article.profile_picture {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  align-items: center; /*추가*/
} /*오픈소스프로그래밍 10._Static_Web_with_NginX 강의 9p text-align 왼쪽 정렬*/

section article.profile_picture img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 1px;
  box-shadow: 5px, 15px, 30px, rgba(173, 216, 230, 0.8);
} /*오픈소스프로그래밍 10._Static_Web_with_NginX 강의 9p 그대로 사용*/

section article.profile_picture div {
  display: flex;
  padding: 1rem;
}

section article.profile_picture .introduction {
  flex: 1;
}

.introduction p {
  margin-left: 40px;
  margin-right: 50%;
  line-height: 40px;
}

.info {
  margin-left: 23%;
  margin-right: 20%;
  margin-bottom: 100px;
}

section ul.contact {
  margin-bottom: 25px;
}
section ul.contact li {
  width: 20%;
  padding: 10px 10px;
  border-bottom: 1px solid black;
}
section ul.contact li:last-child {
  border-bottom: none;
}

section div.info h1 {
  width: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  font-family: "Hi Melody", sans-serif;
  line-height: 1;
  color: #555;
  margin-bottom: 5px;
}
section div.info h2 {
  width: 20%;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  font-family: "Hi Melody", sans-serif;
  color: darkslategrey;
}
/*오픈소스프로그래밍 10._Static_Web_with_NginX 강의 11p 폰트, 정렬 등 변경*/

section ul.contact li i {
  width: 20%;
  text-align: center;
  color: #555;
  font-size: 15px;
  text-shadow: 2px, 2px, 2px, #ddd;
}
section ul.contact li span {
  font-weight: normal;
  font-size: 11px;
  font-family: "orbitron";
  color: #555;
  letter-spacing: 1px;
}
/*오픈소스프로그래밍 10._Static_Web_with_NginX 강의 13p 그대로 사용*/

#guestbook {
  background-color: white;
}

#guestbook h2 {
  margin: 5px;
}

#guestbook_form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 25px;
}

form input,
form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid darkgrey;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background-color: darkcyan;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form button:hover {
  background: grey;
}

#messages {
  flex: 1;
  margin-top: 200px;
  width: 50%;
}

#guestbook {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 20px;
}

#guestbook_form {
  display: flex;
  width: 40%;
}

#messages {
  flex: 1;
  align-self: flex-end;
  width: 50%;
  margin-top: 20px;
}

.message {
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
